<header class="main-header">
  <a routerLink="/home"> <img src="assets/img/logo-nd.png" alt="Logo Ford" class="logo">
  </a> <nav>
    <a routerLink="/home">Home</a>
    <a routerLink="/socioford">Socio Ford</a>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/cadastro">Cadastro</a>
    <a routerLink="/politica-privacidade">Privacidade</a>
    <a routerLink="/lista">Concessionárias/Recarga</a>
    <a routerLink="/clube-vantagens">Ford Club</a>
    </nav>

  <div class="header-actions">
    <ng-container *ngIf="!isLoggedIn()">
      <button class="btn btn-primary" (click)="goToLogin()">Login</button>
    </ng-container>
    <ng-container *ngIf="isLoggedIn()">
      <button class="btn btn-danger" (click)="logout()">Sair</button>
    </ng-container>
  </div>
</header>
