<ngb-carousel class="carousel-fade" [interval]="5000" [wrap]="true" [keyboard]="true" [pauseOnHover]="false">
  <ng-template ngbSlide *ngFor="let image of images; let i = index">
    <div class="picsum-img-wrapper">
      <img [src]="image.src" [alt]="image.alt" class="d-block w-100">
    </div>
    <div class="carousel-caption d-none d-md-block">
      <h3 class="animate__animated animate__fadeInUp animate__delay-1s">
        {{ image.text }}
      </h3>
      <div class="icons-container">
        <i class="bi bi-building animate__animated animate__zoomIn animate__delay-2s" *ngIf="i === 0"></i>
        <i class="bi bi-leaf animate__animated animate__zoomIn animate__delay-2s" *ngIf="i === 3"></i>
        <i class="bi bi-people animate__animated animate__zoomIn animate__delay-2s" *ngIf="i === 1"></i>
        <i class="bi bi-car-front animate__animated animate__zoomIn animate__delay-2s" *ngIf="i === 0"></i>
        <i class="bi bi-globe-americas animate__animated animate__zoomIn animate__delay-2s" *ngIf="i === 4"></i>
        <i class="bi bi-handshake animate__animated animate__zoomIn animate__delay-2s" *ngIf="i === 2"></i>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
