.picsum-img-wrapper {
  height: 500px; /* Ajuste conforme a altura desejada para o carrossel */
  overflow: hidden;
}

.picsum-img-wrapper img {
  object-fit: cover; /* Garante que a imagem cubra a área sem distorcer */
  height: 100%;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para o texto */
  padding: 20px;
  border-radius: 8px;
  max-width: 80%; /* Para não ocupar toda a largura em telas grandes */
  margin: auto; /* Centraliza a legenda */
}

.carousel-caption h3 {
  color: white;
  font-size: 2.5rem; /* Ajuste o tamanho da fonte */
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para melhor legibilidade */
}

.icons-container {
  margin-top: 15px;
  font-size: 2.5rem; /* Tamanho dos ícones */
}

.icons-container i {
  color: #007bff; /* Cor dos ícones, pode ser o azul da Ford */
  margin: 0 10px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7)); /* Sombra para os ícones */
}
