<div class="dashboard-layout">
  <aside class="sidebar">
    </aside>

  <main class="content-area">
    <h2>Nossa Frota Conectada</h2>
    @if (errorMessage) {
      <div class="alert alert-danger" role="alert">
        {{ errorMessage }}
      </div>
    } @else if (vehicles.length === 0) {
      <p>Nenhum veículo disponível no momento.</p>
    } @else {
      <div class="vehicle-list">
        @for (vehicle of vehicles; track vehicle.id) {
          <div class="vehicle-card" (click)="loadVehicleDetails(vehicle.id)">
            <img [src]="vehicle.img" [alt]="'Imagem do ' + vehicle.vehicle" class="vehicle-image">
            <h3>{{ vehicle.vehicle }}</h3>
            <p>VIN: {{ vehicle.vin }}</p>
            <p>Volume Total: {{ vehicle.volumetotal }}</p>
            <p>Conectados: {{ vehicle.connected }}</p>
            <p>Atualizações de Software: {{ vehicle.softwareUpdates }}</p>
            <p class="vehicle-price">Preço: R$ {{ vehicle.price | number:'1.2-2':'pt' }}</p>

            <a [href]="'https://www.ford.com.br/compre-o-seu/busque-sua-concessionaria/'" target="_blank" class="btn btn-dark mt-3">Ver Ofertas</a>
            </div>
        }
      </div>
    }
  </main>
</div>