<div class="home-page-content">
  <h1>Bem-vindo à Ford! Inovação e Responsabilidade.</h1>
  <p>Explore nosso compromisso com o futuro, a sociedade e o meio ambiente.</p>

  <div class="home-main-section"> <app-carousel-home></app-carousel-home>

    <section class="quick-access-bar">
      <h2>Acesso Rápido</h2>
      <a routerLink="/dashboard" class="quick-access-btn">
        <i class="bi bi-car-front-fill"></i>
        <span>Frota Conectada</span>
      </a>
      <a routerLink="/socioford" class="quick-access-btn">
        <i class="bi bi-globe-americas"></i>
        <span>Impacto Social e Ambiental</span>
      </a>
      <a routerLink="/clube-vantagens" class="quick-access-btn">
        <i class="bi bi-award-fill"></i>
        <span>Clube de Vantagens</span>
      </a>
      <a routerLink="/lista" class="quick-access-btn">
        <i class="bi bi-geo-alt-fill"></i>
        <span>Concessionárias/Recarga</span>
      </a>
    </section>
  </div> <section class="home-section call-to-action-social">
    <div class="section-content">
      <h2>Faça a Diferença com a Ford</h2>
      <p>Acreditamos que grandes mudanças acontecem quando nos unimos. Conheça e apoie as iniciativas sociais e ambientais da Ford Brasil. Sua participação é fundamental!</p>
      <button class="btn btn-primary" routerLink="/socioford">Descubra Nossos Projetos</button>
    </div>
    <img src="assets/img/voluntarios.jpg" alt="Pessoas unidas em ação social" class="section-image-home">
  </section>

  <section class="home-section benefits-loyalty">
    <img src="assets/img/cliente-feliz.jpg" alt="Cliente feliz com carro Ford" class="section-image-home">
    <div class="section-content">
      <h2>Seja um Cliente Ford: Vantagens Exclusivas</h2>
      <p>Sua fidelidade à Ford é recompensada. Tenha acesso a serviços diferenciados, ofertas especiais e faça parte de uma comunidade que valoriza a inovação e o cuidado.</p>
      <button class="btn btn-outline-primary" routerLink="/cadastro">Cadastre-se para Vantagens</button>
    </div>
  </section>

  <section class="home-section environmental-preview">
    <div class="section-content">
      <h2>Nossa Jornada Verde</h2>
      <p>Conheça os avanços da Ford em eletrificação e sustentabilidade. Dirigindo rumo a um futuro mais limpo.</p>
      <button class="btn btn-primary" routerLink="/socioford">Sustentabilidade</button>
    </div>
    <img src="assets/img/carro-eletrico.jpg" alt="Carro elétrico em ambiente natural" class="section-image-home">
  </section>

  <section class="home-section final-call-to-action">
    <div class="section-content-centered">
      <h2>Quer Ir Além?</h2>
      <p>A Ford Brasil convida você a explorar todos os nossos programas e descobrir como estamos construindo juntos um futuro mais inclusivo e sustentável. Clique abaixo e faça parte dessa transformação!</p>
      <button class="btn btn-primary btn-lg" routerLink="/socioford">Conheça Nossas Ações de Impacto</button>
    </div>
  </section>

</div>