<div class="login-container">
  <div class="login-image-section">
    <img src="assets/img/loginm.jpg" alt="Imagem de Login" class="login-image">
  </div>
  <div class="login-form-section">
    <h2>Bem-vindo!</h2>
    <form class="login-form" (ngSubmit)="autenticar()">
      <div class="form-group">
        <label for="username">Usuário ou Email</label>
        <input type="text" id="username" name="usuario" [(ngModel)]="login.usuario" required
               [class.is-invalid]="usuarioField.invalid && (usuarioField.dirty || usuarioField.touched)"
               #usuarioField="ngModel">
        <div *ngIf="usuarioField.invalid && (usuarioField.dirty || usuarioField.touched)" class="invalid-feedback">
          <div *ngIf="usuarioField.errors?.['required']">Usuário é obrigatório.</div> </div>
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" id="password" name="senha" [(ngModel)]="login.senha" required
               [class.is-invalid]="senhaField.invalid && (senhaField.dirty || senhaField.touched)"
               #senhaField="ngModel">
        <div *ngIf="senhaField.invalid && (senhaField.dirty || senhaField.touched)" class="invalid-feedback">
          <div *ngIf="senhaField.errors?.['required']">Senha é obrigatória.</div> </div>
      </div>
      <button type="submit" class="btn btn-primary login-button">Entrar</button>
      <div class="login-options">
        <a routerLink="/recuperar-senha">Esqueceu a senha?</a>
        <p>Não tem uma conta? <a routerLink="/cadastro">Cadastre-se</a></p>
      </div>
    </form>
  </div>
</div>