<div class="modal fade show d-block" tabindex="-1" style="background-color: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content shadow">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title">🔐 Login</h5>
        <button type="button" class="btn-close" aria-label="Fechar" (click)="fecharModal()"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="autenticar()" #form="ngForm">
          <div class="mb-3">
            <label>Usuário</label>
            <input type="text" class="form-control" [(ngModel)]="login.usuario" name="usuario" required />
          </div>
          <div class="mb-3">
            <label>Senha</label>
            <input type="password" class="form-control" [(ngModel)]="login.senha" name="senha" required />
          </div>
          <button class="btn btn-primary w-100" [disabled]="form.invalid">Entrar</button>
        </form>
      </div>
    </div>
  </div>
</div>
