/* src/styles.css */

/* Estilos globais para o corpo da página */
html, body {
  margin: 0;
  font-family: 'Inter', sans-serif; /* Inter para o corpo do texto */
}

h1, h2, h3, h4, h5, h6, .card-title { /* Montserrat para títulos e títulos de cartões */
  font-family: 'Montserrat', sans-serif;
}
